<!-- partial:partials/_footer.html -->
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 | Tüm Hakları Saklıdır.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <i class="ti-heart text-danger ml-1"></i></span>
    </div>
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Esin Çağla Kıral tarafından tasarlanmıştır. <a href="https://www.linkedin.com/in/esincaglakiral/" target="_blank">Linkedin</a></span>
    </div>
</footer>
<!-- partial -->
